/*body{
    background-color:black;
}*/
.logo{
    margin-left:10px;
    padding-right:10px;
}
.dick{
    display:flex;
    justify-content:space-between;
   /* padding-top:20px;
    padding-bottom:20px;*/
    padding-left:100px;
    padding-right:100px;
    padding-bottom:10px;
    box-shadow:2px 1px 2px;
}
.sub{
    display:flex;
    padding-right:10px;
}
.land{
    display:flex;
    justify-content:center;

}
.button{
    display:flex;
    justify-content:center;
    border-radius:3px;
    border:solid 1px rgb(56, 126, 209); border-radius:5px;
    background-color: rgb(56, 126, 209);
    padding:10px;
    border-width:1px;
    color:white;
  
}
.footer{
    /*display:flex;*/
    align:center;
}