/*body{
    background-color:black;
}*/
.logo{
    margin-left:10px;
    padding-right:10px;
}
.dick{
    display:flex;
    justify-content:space-between;
   /* padding-top:20px;
    padding-bottom:20px;*/
    margin-left:100px;
    margin-right:100px;
}
.sub{
    display:flex;
    padding-right:10px;
}
.land{
    display:flex;
    justify-content:center;

}