/*body{
    background-color:black;
}*/
.logo{
    margin-left:10px;
    padding-right:100px;
}
.dick{
    display:flex;
    justify-content:space-between;
    margin-left:100px;
    margin-right:100px;
}
.sub{
    display:flex;
}
.img{
    display:flex;
    justify-content:center;
}